@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius;
}

@mixin button-style($background,
    $border,
    $color,
    $hover-background: lighten($background, 7.5%),
    $hover-border: lighten($border, 10%),
    $hover-color: $color,
) {
    background-color: $background;
    color: $color;
    border-color: $border;

    &:hover {
        background-color: $hover-background;
        color: $hover-color;
        border-color: $hover-border;
    }

    &:focus,
    &.focus {
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-border;
        outline: none;
    }

    &.disabled,
    &:disabled {
        background-color: $background;
        color: $color;
        border-color: $border;
    }

}

@mixin border-right-radius($raduis) {
    border-top-right-radius: $raduis;
    border-bottom-right-radius: $raduis;
}

@mixin border-left-radius($raduis) {
    border-top-left-radius: $raduis;
    border-bottom-left-radius: $raduis;
}

@mixin border-top-radius($raduis) {
    border-top-left-radius: $raduis;
    border-top-right-radius: $raduis;
}

@mixin alert-style($background, $border, $color) {
    color: $color;
    background: $background;
    border-color: $border;
}